version: "3"
services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "3000:3000"
      - "9229:9229"
    volumes:
      - .:/app
    command: sh -c "cd /app/${DEV} && npm run start:debug"
